<div class="row col-md-10 col-md-offset-1">
  <div class="panel panel-default">
    <div class="panel-heading">Request a Tutor</div>
    <div class="panel-body">
      <form ng-submit="submitForm()">
        <label for="name">Your Name:</label>
        <input ng-model="form.name" required="true" id="name" type="text" class="form-control"
               placeholder="Joe Gunchy" aria-describedby="basic-addon1">
        <br/>

        <label for="emailInput">Your Email:</label>
        <div class="input-group">
          <input type="text" id="emailInput" class="form-control" placeholder="Recipient's username"
                 aria-describedby="basic-addon2">
          <span class="input-group-addon" id="basic-addon2">@csus.edu</span>
        </div>
        <br/>
        <!--<span>C:{{cors}}</span>-->

        <div class="form-group">
          <label for="course">Select Course:</label>
          <select ng-model="form.course" class="form-control" id="course">
            <option ng-value="course" ng-repeat="course in cors">{{course}}</option>
          </select>
        </div>
        <br/>

        <div class="btn-group" role="group" aria-label="submit">
          <!--<button type="button" class="btn btn-default">Choose a Tutor</button>-->
          <button type="submit" class="btn btn-default">Request a Tutor</button>
        </div>
      </form>
    </div>
  </div>
</div>